<%= form_for(@conf_room) do |f| %>
  <% if @conf_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conf_room.errors.count, "error") %> prohibited this conf_room from being saved:</h2>

      <ul>
      <% @conf_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control', style: 'max-width:500px' %>
  </div>
  <div class="field">
    <%= f.label :location, class: 'control-label' %><br>
    <%= f.text_field :location, class: 'form-control', style: 'max-width:500px' %>
  </div>
  <div class="field">
    <%= f.label :sq_feet, class: 'control-label' %><br>
    <%= f.number_field :sq_feet, class: 'form-control', style: 'max-width:500px' %>
  </div>
  <div class="field">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_field :description, class: 'form-control', style: 'max-width:500px' %>
  </div>
  <div class="field">
    <%= f.label :campus_id, class: 'control-label' %><br>
    <%= f.text_field :campus_id, class: 'form-control', style: 'max-width:500px' %>
  </div>
  <div class="field has-success">
    <%= f.label :pic, class: 'control-label'%><br>
    <%= f.text_field :pic, class: 'form-control', style: 'max-width:500px' %><br>
    <%= f.file_field :pic %>
    <%= image_tag(@conf_room.pic_url) if @conf_room.pic? %>
  </div>
  <div>
    <label>
      <%= f.check_box :remove_pic %>
        Click to remove pic
    </label>
  </div>
  <div class="field">
      <%= hidden_field_tag "conf_room[feature_ids][]", nil %>
      <% Feature.all.each do |feature| %>
        <%= check_box_tag "conf_room[feature_ids][]", feature.id, @conf_room.feature_ids.include?(feature.id), id: dom_id(feature) %>
        <%= label_tag dom_id(feature), feature.feat %><br>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
