<center><h1><%= @current_user.name %>, here are the rooms at <%= @current_user.campus.name %></center>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Campus Rooms</h3>
    </div>
  </div>
  <!-- /.row -->
  <!-- Page Features -->
  <div class="row text-center">
    <% @conf_rooms.each do |conf_room| %>
        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <%= image_tag conf_room.pic_url %>
            <div class="caption">
              <h4><%= conf_room.name %></h4>
              <h5><%= conf_room.description %></h5>
              <div class="buttons">
                <p>
                <%= link_to new_feature_path, class: "btn btn-primary slide" do %>
                    <span class="glyphicon glyphicon-plus"></span> Add Features
                <% end %>
                </p>
              </div>
              <div class="buttons">
                <p>
                <%= link_to edit_conf_room_path(conf_room), class: "btn btn-primary slide" do %>
                    <span class="glyphicon glyphicon-edit"></span> Edit Rooms
                <% end %>
                </p>
              </div>
              <div class="buttons">
                <p>
                <%= link_to conf_room, class: "btn btn-primary slide" do %>
                    <span class="glyphicon glyphicon-eye-open"></span> Show Rooms
                <% end %>
                </p>
              </div>
              <div class="buttons">
                <p>
                <%= link_to new_reservation_path, class: "btn btn-primary slide" do %>
                    <span class="glyphicon glyphicon-plus-sign"></span> Reserve a Room
                <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <!-- /.row -->

  <hr>

  <%= link_to "Reservations", reservations_path %>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Ahmad Hutasuhut 2014</p>
      </div>
    </div>
  </footer>
</div>