<h1>These are the Iron Yard Conference Rooms</h1>

<h3>Search the Room Description here!</h3>
<%= form_tag search_conf_rooms_path %>
  <%= text_field_tag "search_query", nil, placeholder: "Search Text" %>
  <%= submit_tag "Search", class: "btn btn-info" %><br>
  <br>
<%= button_to "Reset", conf_rooms_path, class: "btn btn-warning" %>


<!--<table class="table table-striped table-hover">-->
<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th><%= link_to 'Name', conf_rooms_path(order_by: 'name ASC') %></th>
      <th><%= link_to 'Location', conf_rooms_path(order_by: 'location ASC') %></th>
      <th><%= link_to 'Square Feet', conf_rooms_path(order_by: 'sq_feet ASC') %></th>
      <th><%= link_to 'Description', conf_rooms_path(order_by: 'description ASC') %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody class="room-info">
    <% @conf_rooms.each do |conf_room| %>
      <tr class="room-info2">
        <td>
          <ul id="rooms" class="list-unstyled">
            <button class="glyphicon glyphicon-camera"></button>
            <li class="photos">
              <%= image_tag conf_room.pic_url(:thumb) %>
            </li>
          </ul>
        </td>
        <td><%= conf_room.name %></td>
        <td><%= conf_room.location %></td>
        <td><%= conf_room.sq_feet %></td>
        <td><%= conf_room.description %></td>
        <td><%= link_to new_feature_path do %>
              <span class="glyphicon glyphicon-plus"></span> Add Features
            <% end %>
        </td>
        <td><%= link_to conf_room do %>
              <span class="glyphicon glyphicon-eye-open"></span> Show Rooms
            <% end %>
        </td>
        <td><%= link_to edit_conf_room_path(conf_room) do %>
              <span class="glyphicon glyphicon-edit"></span> Edit Rooms
            <% end %>
        </td>
        <td><%= link_to conf_room, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove"></span> Delete Rooms
            <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center><%= link_to 'Add a new room', new_conf_room_path, class: 'btn btn-success' %></center>

<br>
<center><%= link_to "Sign Out", signout_path, method: :delete, class: 'btn btn-danger' %></center>