<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conf_room.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @conf_room.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @conf_room.description %>
</p>

<p class="sq_feet" data-sqfootage="<%= @conf_room.sq_feet %>">
  <button class="show">Click to show square footage</button>
</p>


<%= link_to 'Edit', edit_conf_room_path(@conf_room) %> |
<%= link_to 'Back', conf_rooms_path %>
