
<div class="jumbotron">
  <h1 class="text-center">The Iron Yard Conference Rooms App</h1>
    <p class="text-center">Find out about our conference rooms and schedule them for your own use!</p>
</div>

<% if signed_in? %>
  <% else %>
    <%= form_tag signups_path, class: "form-signin" %>
    <h2 class="form-signin-heading">Please sign up!</h2>
    <%= text_field_tag "name", nil, class: "form-control", placeholder: "Name" %>
    <%= text_field_tag "email", nil, class: "form-control", placeholder: "Email" %>
    <%= text_field_tag "password", nil, class: "form-control", placeholder: "Password" %>
    <%= text_field_tag "password_confirmation", nil, class: "form-control", placeholder: "Password Confirmation" %>
    <p>Choose your Campus: <%= select_tag :campus_id, options_from_collection_for_select(Campus.all, 'id', 'name')%></p>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <%= submit_tag "Sign up", method: :post, class: "btn btn-lg btn-primary btn-block"  %>
<% end %>