<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%=f.select :user_id, User.where('name = ?', current_user.name).collect {|user| [user.name, user.id]}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :conf_room_id %>
    <%= f.select :conf_room_id, current_user.campus.conf_rooms.where('campus_id = ?', current_user.campus_id).collect {|conf_room| [conf_room.name, conf_room.id]}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br>
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :event_title %><br>
    <%= f.text_field :event_title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>